//responsive
$desktop: 1300px;
$tablet: 1024px;
$tablet-portrait: 768px;
$mobile: 480px;

:root {
     /* Colours */
  --blue: #3eb0ef;
  --green: #00a672;
  --purple: #ad26b4;
  --yellow: #fecd35;
  --red: #f05230;
  --darkgrey: #091a28;
  --midgrey: #738a94;
  --lightgrey: #c5d2d9;
  --whitegrey: #e5eff5;
  --pink: #fa3a57;
  --brown: #a3821a;
  --dark-bg: #020b1a;
  --darkmode: var(--darkgrey);
  --darkmode-lighter: var(--midgrey);
  
    //Layout
    --gutter: 15px;
  
    //fonts
    --font-roboto: "Roboto", sans-serif;
  
    --font-source_sans_pro: "Source Sans Pro", sans-serif;
  
    --header-height: 250px;
  }


  .theme-light {

    // background
    --bg-background-primary: #f7fafc;
    --bg-background-secondary: #f7fafc;
    --bg-background-invert: #000;

    // text
    --text-copy-primary: #000;
    --text-copy-invert: #fff;
  }

  .theme-dark {
    --bg-background-primary: #102C44;
    --bg-background-secondary: #102C44;
    --bg-background-invert: #fff;

    --text-copy-primary: #fff;
    --text-copy-invert: #2D3748;
  }

  .theme-sepia {
    --bg-background-primary: #f1e7d0;
    --bg-background-secondary: #f1e7d0;
    --bg-background-invert: #000;

    --text-copy-primary: #433422;
    --text-copy-invert: #fff;
  }
